@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #faf9f6;
  color: #332f26;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
